{{extend 'layout.html'}}

<img src="{{=URL('static', 'images/front.jpg')}}" width=790>

<div id="products">
<dl>
{{for i, (key, info) in enumerate(products):}}
{{if i>0:}}
<hr/>
{{pass}}
<dt>
  <h3>{{=info['label']}}</h3>
  <p>{{=info['description']}}</p>
  {{if info.get('status') == 'under-construction':}}
  <div class="under-construction">{{=T('under construction')}}</div>
  {{else:}}
  <div class="try-demo"><a href="{{=URL(key, 'index')}}">{{=T('See Demo')}}</a></div>
  {{pass}}
</dt>
<dd>
  <img src="{{=URL('static', 'images/products/%s.jpg' % key)}}" />
</dd>
{{pass}}
</dl>
</div>