{{extend 'layout.html'}}

<img src="{{=URL('static', 'images/front.jpg')}}" width=790>

<div id="products">
<dl>
{{for key, info in products:}}

<dt>
  <h3>{{=info['label']}}</h3>
  <p>{{=info['description']}}</p>
  {{if info.get('status') == 'under-construction':}}
  <div class="under-construction">under construction</div>
  {{else:}}
  <div class="try-demo"><a href="{{=URL(key, 'index')}}">Try Demo</a></div>
  {{pass}}
</dt>
<dd>
  <img src="{{=URL('static', 'images/products/%s.jpg' % key)}}" />
</dd>
<hr/>
{{pass}}
</dl>
</div>