

.pagination { margin:0 0 5px 0; padding:0; height:2.5em; text-align: center;}
.pagination a { text-decoration:none; border:solid 1px darkorange; color:darkorange; }
.pagination a, .pagination span { font-weight:bold; margin:0 5px 0 0; padding:.3em .5em; vertical-align: middle; }
.pagination .current { background:darkorange; color:#fff; border:solid 1px darkorange; }
.pagination .current.prev, .pagination .current.next { color:#999; border-color:#999; background:#fff; }

.pagination.loading .current { background-color: transparent; color: #999; }
.pagination.loading a { color: #999; border-color: #999; }
