div.suggest_results {
 width:120px;
 border: 1px solid silver;
 background-color: white;
 padding: 0;
 margin: 0;
 list-style: none;
 position: absolute;
 z-index: 10000;
 display: none;
}
div.suggest_results ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
div.suggest_results ul  li {
 padding: 2px 5px;
 color: #666;
 cursor:pointer;
}

div.suggest_results ul li span {
 visibility: hidden;
}
div.suggest_results ul li.suggest_over {
  background-color: #def;
}
input[type="text"].suggest_match {
  background-color: #fdd;
}

input[type="text"].suggest_no_match {
  background-color: #bbb;
}
input[type="text"].suggest_selected {
  background-color: #eff;
}