<!DOCTYPE html>
<html lang="{{=T.accepted_language or 'en'}}" class="no-js"><!-- no-js need it for modernzr -->
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{=response.title or request.application}}</title>
  
  <meta property="og:title" content="{{=response.title or request.application}}" />
  <meta property="og:type" content="product" />
  <meta property="og:url" content="{{=ROOT_URL}}/" />
  <meta property="og:image" content="{{=ROOT_URL}}{{=response.image or URL('static', 'images/logo.jpg')}}" />
  <meta property="og:site_name" content="sqlabs" />
  <meta property="fb:admins" content="{{=FACEBOOK_OG_ADMIN}}" />
  
  <meta name="google-site-verification" content="" />
  <meta name="application-name" content="{{=request.application}}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="shortcut icon" href="{{=URL('static','images/favicon.gif')}}" type="image/x-icon">
  <link rel="stylesheet" media="handheld" href="{{=URL('static','css/handheld.css')}}">
  <script src="{{=URL('static','js/modernizr-1.7.min.js')}}"></script>
  {{response.files.append(URL('static','css/base.css'))}}
  {{response.files.append(URL('static','js/jquery.socialbutton.js'))}}
  {{include 'web2py_ajax.html'}}
  {{if SHOW_SOCIAL:}}
  <script type="text/javascript"><!--
  (function($){
  $(document).ready(function() {
    $('.google_plusone').socialbutton('google_plusone', {size: 'medium'});
    $('.facebook_like').socialbutton('facebook_like', {button: 'button_count'});
    $('.twitter').socialbutton('twitter', {button: 'horizontal'});
    {{if T.accepted_language == 'ja':}}
      $('.hatena').socialbutton('hatena');
    {{pass}}
  })})(jQuery);
  //--></script>
  {{pass}}
  {{if GOOGLE_ANALYTICS:}}
    {{=XML(GOOGLE_ANALYTICS)}}
  {{pass}}
</head>
   
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->
  {{if FACEBOOK_SDK:}}
    {{=XML(FACEBOOK_SDK)}}
  {{pass}}
  
  <div class="flash">{{=response.flash or ''}}</div>
  
  <div id="container">
    <div id='header'>
      {{block header}}
      <h1><a href="/" title="SQLabs"><img src="{{=URL('static', 'images/logo.jpg')}}" alt="SQLabs"/></a></h1>
      <h3>{{=XML(T("Introducing new products or services being developed by %s") % A('S-cubism', _href='http://s-cubism.jp/').xml())}}</h3>
      <hr/>
      {{end}}
    </div>
    <div id='main'>
      {{if request.controller == 'default' and request.function == 'contact':}}
      <br/>
      {{else:}}
      <div class="socialbutton" style="height:32px;">
        {{if SHOW_SOCIAL:}}
          <a class="contact" href="{{=URL('default', 'contact', vars={'redirect': request.env.path_info})}}">{{=T('Contact us')}}</a>
          {{if T.accepted_language == 'ja':}}
            <div class="hatena" style="width:60px;height:32px;"></div>
          {{pass}}
          <div class="google_plusone" style="width:90px;height:32px;"></div>
          <div class="facebook_like" style="width:120px;height:32px;"></div>
          <div class="twitter" style="width:130px;height:32px;"></div>
        {{pass}}
      </div>
      {{pass}}
      {{include}}
    </div>
    <div id='footer'>
      <hr/>
      <p>
        @ 2011 <a href="http://s-cubism.jp/">S-cubism</a>. Powered by <a href="http://www.web2py.com/">Web2py Framework</a>.
        {{if hasattr(T,'get_possible_languages'):}}
          <span class="language">
          {{=T('language')}}
          <select name="language" onchange="var date = new Date();cookieDate=date.setTime(date.getTime()+(100*24*60*60*1000));document.cookie='language='+this.options[this.selectedIndex].value+'; expires='+cookieDate+'; path=/';window.location.reload()">
          {{for language in T.get_possible_languages():}}
            <option {{=T.accepted_language==language and 'selected' or ''}} >{{=language}}</option>
          {{pass}}
          </select>
          </span>
        {{pass}}
      </p>
    </div>
  </div>
  <!--[if lt IE 7 ]>
    <script src="{{=URL('static','js/dd_belatedpng.js')}}"></script>
    <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
    <![endif]-->
</body>
</html>
