{{extend 'layout.html'}}
<a class="github-ribbon" href="https://github.com/sqlabs/sqlabs"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/71eeaab9d563c2b3c590319b398dd35683265e85/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub"></a>
  
<p class="backto"><a href="{{=URL('web2py_plugins', 'index')}}#{{=response.web2py_plugins.plugin_name}}">
  ← {{=T('Back to the list')}}
</a></p>

<h3>{{=response.web2py_plugins.plugin_label}}</h3>
<p>{{=response.web2py_plugins.plugin_long_description or response.web2py_plugins.plugin_short_description}}</p>

<hr/>

<h4>{{=T("Demo")}}</h4>

{{=BEAUTIFY(response._vars)}}

<p></p>
<hr/>

<h4>{{=T("Usage")}}</h4>
<ul>
  <li>
    <span>controllers/{{=response.web2py_plugins.plugin_name}}.py</span>
    {{=response.web2py_plugins.controller_code}}
  </li>
</ul>

<p></p>
<hr/>

{{if FACEBOOK_SDK:}}
<div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:comments href="{{=ROOT_URL}}{{=URL('index')}}" num_posts="2" width="700"></fb:comments>
{{pass}}
<hr/>

<h4>{{=T("Source code")}}</h4>
<ul>
  <li>
    <span>modules/{{=response.web2py_plugins.plugin_name}}.py</span>
    {{=response.web2py_plugins.module_code}}
  </li>
</ul>

<p></p>
<hr/>

<h4>{{=T("Static files")}}</h4>
{{statics = response.web2py_plugins.statics}}
<div id="static_inner" class="component_contents">
  <div class="controls comptools">
  </div>
  {{if not statics:}}<p class="nofiles">{{=T("There are no static files")}}</p>{{pass}}
  <ul>
    {{
    path=[]
    for file in statics+['']:
      items=file.split('/')
      file_path=items[:-1]
      filename=items[-1]
      while path!=file_path:          
          if len(file_path)>=len(path) and all([v==file_path[k] for k,v in enumerate(path)]):
              path.append(file_path[len(path)])
              thispath='static__'+'__'.join(path)
    }}
    <li class="folder">
    <a href="javascript:collapse('{{=thispath}}');" class="file">{{=path[-1]}}/</a>
    <ul id="{{=thispath}}" style="display: none;" class="sublist">{{
          else:
              path = path[:-1]
      }}
    </ul></li>
    {{
              pass
          pass
      if filename:
      }}<li>
      <span class="file">
	<a href="{{=URL(c='static',f='%s/%s' % (response.web2py_plugins.plugin_name, file))}}">{{=filename}}</a>
      </span>
    </li>{{
          pass
      pass
    }}
    {{pass}}
  </ul>
</div>

<p></p>
