{{extend 'layout.html'}}
<div>
  <h1>{{=response.title or ''}}</h1>
  <hr/>
  <a href="{{=URL('page1')}}"><< Page1</a>
  <br/><br/>
  <hr/>
  <div style="width:100px;">
    {{@managed_html.render('page2_block1', Field('text', comment='Input Text'))
      def _block(content):}}
      {{=content.text or ''}}
    {{pass}}
    {{_block()}}
  </div>
  <br/>
  
  <h4>Movie Block</h4>
  <div>
  {{@managed_html.render('movie_block', 
      Field('movie', widget=managed_html.movie_widget, comment='Upload Movie'))
  def _block(content):}}
    <script type="text/javascript" src="{{=URL('static', 'plugin_managed_html/jwplayer/jwplayer.js')}}"></script>
    <div id="movie1">Loading the player ...</div> 
    <script type="text/javascript"> 
      jwplayer("movie1").setup({ 
        flashplayer: "{{=URL('static', 'plugin_managed_html/jwplayer/player.swf')}}", 
        {{if content.movie:}}
          file: "{{=URL('static', 'plugin_managed_html/jwplayer/video.mp4')}}", 
        {{pass}}
        height: 270, width: 480 }); 
    </script>
  {{pass}}
  {{_block()}}
  </div>
</div>