{{extend 'layout.html'}}
<div>
  <h1>{{=response.title or ''}}</h1>
  <hr/>
  <a href="{{=URL('page2')}}">>> Page2</a>
  <br/><br/>
  <hr/>
  <div style="width:100px;">
    {{@managed_html.render('block2', Field('text', comment='Input Text'))
      def _block(content):}}
      {{=content.text}}
    {{pass}}
    {{_block()}}
  </div>
  <br/>
  
  <div style="width:300px;">
    {{@managed_html.render('block3', Field('image', 'upload', comment='Upload Image'))
      def _block(content):}}
      {{if content.image:}}
        <img src="{{=URL('download', args=content.image)}}"/>
      {{else:}}
        no-image
      {{pass}}
    {{pass}}
    {{_block()}}
  </div>
  <br/>
  
  <div>
    {{@managed_html.render('block1', Field('html', 'text', comment='Input HTML'))
      def _block(content):}}
      {{=XML(content.html)}}
    {{pass}}
    {{_block()}}
  </div>
  <br/>
  
  <hr/>
  drag us!
  <div style="border: 1px solid whiteSmoke; width:200px;">
    {{@managed_html.movable('block_type1')
      def block_a():}}
      <div style="height:100px;">AAAAAAAAAAAAAA AAAAAA AA</div>
    {{pass}}
    {{@managed_html.movable('block_type1')
      def block_b():}}
      <div style="height:100px;">BBBBBBBBB BBBBBBBB</div>
    {{pass}}
    {{@managed_html.movable('block_type1')
      def block_c():}}
      <div style="height:100px;">CCCCCCCCC CCCCCCCC CCCCCC</div>
    {{pass}}
    {{block_a()}}
    {{block_b()}}
    <div style="margin:10px;">
      <div>inner</div>
      {{block_c()}}
    </div>
  </div>
  
  <hr/>
  drag us!
  <div>
    {{@managed_html.movable('block_type2')
      def block_a():}}
      <div  style="height:100px;">block a</div>
    {{pass}}
    {{@managed_html.movable('block_type2')
      def block_b():}}
      <div style="height:100px;">block b</div>
    {{pass}}
    {{block_a()}}
    {{block_b()}}
  </div>
  <br/>
</div>


