{{from gluon.contrib import simplejson as json}}
<div class="plugin_jstree">
<div id="{{=element_id}}" class="jstree" style="min-height:100px;background:white;">
</div>
{{=tree_crud_buttons}}
<script type="text/javascript"><!--
(function($) { $(function () {
var tree_el = $("#{{=element_id}}");

var tree_crud_buttons = $("#tree_crud_buttons");
tree_crud_buttons.find('#add_node_button').click(function(){
  tree_el.jstree("create", null, "last", "---"); return false;
});
tree_crud_buttons.find('#edit_node_button').click(function(){
  var data = tree_crud_buttons.data('data'),
      el = data.rslt.obj,
      pos = el.position();
  pos.top -= 45;
  pos.left += 105;
  tree_crud_buttons.css(pos);
  tree_el.jstree("rename"); return false;
});
tree_crud_buttons.find('#delete_node_button').click(function(){
  if(confirm("{{=T('Sure you want to delete it?')}}")){
    tree_el.jstree("remove");
  }
  return false;
});
function handle_error(r) {
  if (r.status==406) {
    jQuery('.flash').hide().html("{{=T('Unchanged')}}").slideDown();
  } else {
    jQuery('.flash').hide().html("{{=T('not authorized')}}").slideDown();
  }
}
tree_el.jstree({ 
    "plugins" : ["themes", "json_data", "ui", "crrm", "hotkeys", "dnd", "types"],
    "json_data" : {
      "data" : {{=XML(json.dumps(data))}}
    },
    "types" : {
      "types" : {
        "root" : {
          "icon" : { 
            "image" : "{{=URL(APP, 'static', 'plugin_jstree/jstree/_drive.png')}}" 
          },
        }
      }
    },
    "core" : {
      "initially_open": {{=XML(json.dumps(initially_open))}}
    },
    "themes" : {
      "theme" : "apple",
      "dots" : true,
      "icons" : true
    },
  }).bind("select_node.jstree", function (event, data) { 
    var el = data.rslt.obj;
    tree_crud_buttons.data('data', data);
    
    var pos = el.position();
    pos.top -= 20;
    pos.left += 105;
    tree_crud_buttons.css(pos);
    if (data.rslt.obj.find('li').length > 0) {
      tree_crud_buttons.find('#delete_node_button').hide();
    } else {
      tree_crud_buttons.find('#delete_node_button').show();
    }
    tree_crud_buttons.show();
  }).bind("create.jstree", function (e, data) {
    if (!confirm("{{=T('Sure you want to create it?')}}")) {
      $.jstree.rollback(data.rlbk);
      return;
    }
    data.inst.lock();
    jQuery('#tree_crud_buttons').jstree_spinner();
    $.post("{{=url(args=['new'])}}",
      {
        "target" : data.rslt.parent.attr("id").split("_")[1],
        "name" : data.rslt.name,
        "node_type" : data.rslt.obj.attr("rel")
      },
      function (r) {
        jQuery('#tree_crud_buttons').jstree_spinner('remove');
        jQuery('.flash').hide().html("{{=T('Created')}}").slideDown();
        $(data.rslt.obj).attr("id", "node_" + r);
        data.inst.unlock();
        tree_crud_buttons.find('#delete_node_button').hide(); //リーフノードでなくなったときに、xボタンを消す作業が必要
      }
    ).error(function(r){ 
      jQuery('#tree_crud_buttons').jstree_spinner('remove');
      handle_error(r, data);
      data.inst.unlock();
      $.jstree.rollback(data.rlbk);
    });
  }).bind("rename.jstree", function (e, data) {
    if (!confirm("{{=T('Sure you want to rename it?')}}")) {
      $.jstree.rollback(data.rlbk);
      return;
    }
    data.inst.lock();
    jQuery('#tree_crud_buttons').jstree_spinner();
    $.post("{{=url(args=['edit'])}}",
      {
        "id"   : data.rslt.obj.attr("id").split("_")[1],
        "name" : data.rslt.new_name
      },
      function (r) {
        jQuery('#tree_crud_buttons').jstree_spinner('remove');
        jQuery('.flash').hide().html("{{=T('Updated')}}").slideDown();
        data.inst.unlock();
      }
    ).error(function(r){ 
      jQuery('#tree_crud_buttons').jstree_spinner('remove');
      handle_error(r, data);
      data.inst.unlock();
      $.jstree.rollback(data.rlbk);
    });
  }).bind("remove.jstree", function (e, data) {
    jQuery('#tree_crud_buttons').jstree_spinner();
    if (data.rslt.obj.find('li').length > 0) {
      jQuery('.flash').hide().html("{{=T('Undeletable')}}").slideDown();
      $.jstree.rollback(data.rlbk);
      return;
    }
    data.inst.lock();
    $.post("{{=url(args=['delete'])}}",
      {
        "id"   : data.rslt.obj.attr("id").split("_")[1],
      },
      function (r) {
        jQuery('#tree_crud_buttons').jstree_spinner('remove');
        jQuery('.flash').hide().html("{{=T('Deleted')}}").slideDown();
        data.inst.unlock();
      }
    ).error(function(r){ 
      jQuery('#tree_crud_buttons').jstree_spinner('remove');
      handle_error(r);
      data.inst.refresh();
    });
  }).bind("move_node.jstree", function (e, data) {
    if (data.rslt.cr === -1 || data.rslt.o.attr("ref") == 'root') {
      alert("{{=T('Unmovable')}}");
      $.jstree.rollback(data.rlbk);
      return;
    }
    if (!confirm("{{=T('Sure you want to move it?')}}")) {
      $.jstree.rollback(data.rlbk);
      return;
    }
    data.inst.lock();
    tree_el.jstree_spinner();
    $.post("{{=url(args=['move'])}}",
      {
        "id"   : data.rslt.o.attr("id").split("_")[1],
        "parent": data.rslt.np.attr("id").split("_")[1],
        "position": data.rslt.cp
      },
      function (r) {
        tree_el.jstree_spinner('remove');
        jQuery('.flash').hide().html("{{=T('Moved')}}").slideDown();
        data.inst.unlock();
        // TODO refresh?
      }
    ).error(function(r){ 
      tree_el.jstree_spinner('remove');
      handle_error(r);
      data.inst.unlock();
      $.jstree.rollback(data.rlbk);
    });
   // console.log(data.rslt.np.text());
   // console.log(data.rslt.cp);
  });
});})(jQuery);

/*
    Original by jquery.spinner.js
    
    Spinner provides a simple approach for adding and removing a preloader
    for your web applications. Usage is as simple as calling $('elem').spinner() and
    subsequently $('elem').spinner.remove(). You may create your own preloader
    at http://www.ajaxload.info. Please note that if you use a custom preloader,
    you must pass in the new height and width as options.
    
    Copyright (C) 2010 Corey Ballou
    Website: http://www.jqueryin.com
    Documentation: http://www.jqueryin.com/projects/spinner-jquery-preloader-plugin/

    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License along
    with this program; if not, write to the Free Software Foundation, Inc.,
    51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.
 */
(function($) {
    $.fn.jstree_spinner = function(options) {
        var opts = $.extend({}, $.fn.jstree_spinner.defaults, options);

        return this.each(function() {
            var l=0, t=0, w=0, h=0, shim=0, $s;
            var $this = $(this);
            
            // removal handling
            if (options == 'remove' || options == 'close') {
                var $s = $this.data('spinner');
                var o = $this.data('opts');
                if (typeof $s != 'undefined') {
                    $s.remove();
                    $this.removeData('spinner').removeData('opts');
                    if (o.hide) $this.css('visibility', 'visible');
                    o.onFinish.call(this);
                    return;
                }
            }
            
            // retrieve element positioning
            var pos = $this.offset();
            w = $this.outerWidth();
            h = $this.outerHeight();
            
            // calculate vertical centering
            if (h > opts.height) shim = Math.round((h - opts.height)/ 2);
            else if (h < opts.height) shim = 0 - Math.round((opts.height - h) / 2);
            t = pos.top + shim + 'px';
            
            // calculate horizontal positioning
            if (opts.position == 'right') {
                l = pos.left + w + 10 + 'px';
            } else if (opts.position == 'left') {
                l = pos.left - opts.width - 10 + 'px';
            } else {
                l = pos.left + Math.round(.5 * w) - Math.round(.5 * opts.width) + 'px';
            }
            
            // call start callback
            opts.onStart.call(this);
            
            // hide element?
            if (opts.hide) $this.css('visibility', 'hidden');
            
            // create the spinner and attach
            $s = $('<div class="jstree_spinner" style="left: ' + l +'; top: ' + t + '; width: ' + opts.width + 'px; height: ' + opts.height + 'px; z-index: ' + opts.zIndex + ';"></div>').appendTo('body');
            
            // removal handling
            $this.data('spinner', $s).data('opts', opts);
        });
    };
    
    // default spinner options
    $.fn.jstree_spinner.defaults = {
        position    : 'left'       // left, right, center
        , height    : 16            // height of spinner img
        , width     : 16            // width of spinner img
        , zIndex    : 1001          // z-index of spinner
        , hide      : false         // whether to hide the elem
        , onStart   : function(){ } // start callback
        , onFinish  : function(){ } // end callback
    };
})(jQuery);

--></script>
</div>