
table.solidtable {
  border-left:none;
  width: 100%;
}

table.solidtable th {
  background: #efefef;
  background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#dfe1e2));
  background: -moz-linear-gradient(-90deg, #efefef, #dfe1e2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#efefef, endColorstr=#dfe1e2);
  box-shadow: 0 1px 2px #efefef;
  -moz-box-shadow: 0 1px 2px #efefef;
  -webkit-box-shadow: 0 1px 2px #efefef;
  text-shadow: white 0 1px 0;
  border-bottom: 1px solid #ededed;
  font-size: 1.0em; font-weight: bold; line-height: 140%%; color: #5e6469;
  word-break: break-all;
  padding: 5px 12px 3px 12px;
  margin-bottom: 0.5em;
  vertical-align: middle;
  text-align: left;}
  
table.solidtable th, table.solidtable td {
  border-left: 1px solid #DDD;
  min-width: 30px;
}
table.solidtable th.colselected {
  background: #E2E2E2;
  background: -webkit-gradient(linear, left top, left bottom, from(#E2E2E2), to(#D2D4D6));
  background: -moz-linear-gradient(-90deg, #E2E2E2, #D2D4D6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e2e2e2, endColorstr=#d2d4d6);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#e2e2e2, endColorstr=#d2d4d6);
  border-bottom: 1px solid #DFE1E2;}
table.solidtable td {
  padding: 0px 5px 0px 5px;
  border-bottom: 1px solid #e8e8e8;
  vertical-align: middle; 
  word-break: break-all;}
table.solidtable th a, table.solidtable th a:link, table.solidtable th a:visited {
  color: #5e6469;
  text-decoration: none;
  display: block; 
  max-height: 34px;
  overflow:hidden;}
table.solidtable th a:hover {
  color: black; 
}
table.solidtable th a.orderby {
  background: url("orderby.png") no-repeat 0 4px;
  padding-left: 13px; 
  font-weight: bold;
}
table.solidtable th a.orderby-asc {
  background-position: 0 -56px; 
}
table.solidtable th a.orderby-desc {
  background-position: 0 -26px; 
}
table.solidtable th a.orderby-asc, table.solidtable th a.orderby-desc {
  border-bottom: 1px solid #dfe1e2; 
}
table.solidtable tr.even td { background: #f4f5f5; }
table.solidtable tr.rowselected td { background: #fff0f0; }


table.solidtable th.datetime, table.solidtable th.date, table.solidtable th.time, 
table.solidtable th.reference {
  width: 95px;
}
table.solidtable th.id {
  width: 40px;
}


table.solidtable th a.orderby-asc, table.solidtable th a.orderby-desc {
  text-decoration: underline;
}

table.solidtable input[type="checkbox"], table.solidtable input[type="radio"] {
  margin: 0;
}
/********* grid.represent ************/

table.solidtable th.boolean {
  width: 52px;
}
table.solidtable td.boolean {
  text-align: center;
}

table.solidtable img {
  max-width:120px;
  max-height:80px;
  margin-top: 5px;
}



/********* grid.tablescope ************/
div.tablescope {
  float: left;
  margin-bottom: 10px;
  font-size: 1.0em; }
  div.tablescope .scope {
    padding: 4px 8px 3px 8px;
    margin-right: 4px; }
    div.tablescope .scope a {
      text-decoration: none;
      font-weight: bold;
      color: #888; }
    div.tablescope .scope a:hover {
      text-decoration: underline; }
    div.tablescope .scope.selected {
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      box-shadow: inset 0 1px 0 #cccccc;
      -moz-box-shadow: inset 0 1px 0 #cccccc;
      -webkit-box-shadow: inset 0 1px 0 #cccccc;
      text-shadow: white 0 1px 0;
      background: #efefef;
      color: #666; }
      div.tablescope .scope.selected em {
        font-weight: bold;
        font-style: normal; }
    div.tablescope .scope .count {
      color: #aaa;
      font-size: 0.9em; }

/********* grid.pagination ************/

.pagination_information {
  float: right;
  margin-bottom: 5px;
  font-size: 0.95em;
  color: #b3bcc1; 
}

.index_footer {
  padding-top: 5px;
  text-align: right;
  font-size: 0.85em;
  clear: both;
}

div.paginator {
  display: inline; margin-left: 10px; 
  font-size: 1.0em; font-weight: bold; font-family: Helvetica, Arial, sans-serif;
}
div.paginator a {
  box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  text-decoration: none;
  margin-right: 3px;
  cursor: pointer;
  background: #f9f9f9;
  background: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#dddbdb));
  background: -moz-linear-gradient(-90deg, #f9f9f9, #dddbdb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#dddbdb);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#f9f9f9, endColorstr=#dddbdb);
  text-shadow: white 0 1px 0;
  color: #777; 
}
div.paginator a:hover {
  color: #444;
  box-shadow: 0 1px 3px #888888;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: 0 1px 3px #888888; 
}
div.paginator a:active {
  box-shadow: inset 0 1px 2px #aaaaaa;
  -moz-box-shadow: inset 0 1px 2px #aaaaaa;
  -webkit-box-shadow: inset 0 1px 2px #aaaaaa; 
}
div.paginator em {
  box-shadow: 0 1px 2px #aaaaaa;
  -moz-box-shadow: 0 1px 2px #aaaaaa;
  -webkit-box-shadow: 0 1px 2px #aaaaaa;
  background: #838a90;
  background: -webkit-gradient(linear, left top, left bottom, from(#838a90), to(#414549));
  background: -moz-linear-gradient(-90deg, #838a90, #414549);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#838a90, endColorstr=#414549);
  text-shadow: black 0 1px 0;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.0em;
  color: #efefef; 
}
div.paginator em:hover {
  color: #fff;
  box-shadow: 0 1px 3px #888888;
  -moz-box-shadow: 0 1px 3px #888888;
  -webkit-box-shadow: 0 1px 3px #888888; 
}
div.paginator em:active {
  box-shadow: inset 0 1px 2px black;
  -moz-box-shadow: inset 0 1px 2px black;
  -webkit-box-shadow: inset 0 1px 2px black; 
}
div.paginator a, div.paginator em {
  margin-right: 4px;
  padding: 2px 5px;
  border: none;
}
span.paginate_info {
  font-size: 0.90em; color: #B3BCC1;
}
span.paginate_selector, span.paginate_info {
  font-size: 1.0em; color: #B3BCC1;
}
span.paginate_info b {
  color: #5C6469;
}

/********* grid.permute ************/

table tr.tablepermuter_dragging td {
  border: 2px solid #fdd;
}

/********* grid.search ************/

form.search_form div {
    float:left;
    min-height:1px;
    min-width:1px;
    margin: 1.5px 2px;
}

form.search_form div.w2p_fl{
  height:30px;
}

form.search_form input, form.search_form textarea, form.search_form select {
  width:130px;
  margin:0;
}
form.search_form input[type="submit"] {
  width: 80px;
  margin-left: 10px;
}
form.search_form input.boolean {
  width: 20px;
}
form.search_form input.integer {
  width: 70px;
}


/*********************/

.ui-icon {
  width: 16px;
  height: 16px;
  background-image: url(ui-icons_222222_256x240.png);
  display: block;
  text-indent: -99999px;
  overflow: hidden;
  background-repeat: no-repeat;
  position: absolute;
  margin-top: 1px;
}
tr .ui-icon {
  margin-top: 0px;
}
.ui-button-text {
padding: .4em 1em .4em 2.1em;
}
tr .ui-button-text {
padding: .4em 1em .4em 1.8em;
}

.ui-btn {
  line-height: 18px;
  margin:2px;
  margin-right: 5px;
  display: inline-block;
  padding: 0px 3px 0px 3px;
  color: #3C3C3D;
  background: #ECECEC 0 0 no-repeat;
  cursor: pointer;
  border: 1px solid #CACACA;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  zoom: 1;
  text-decoration: none;
}
a.ui-btn:hover {
  color: #3C3C3D;
  text-decoration: none;
  border: 1px solid #fafafa;  
  -webkit-box-shadow: 0px 0px 8px #007eff;  
  -moz-box-shadow: 0px 0px 7px #007eff;  
  box-shadow: 0px 0px 7px #007eff;  
}

.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }

/*********************/
.not_empty {
  color: #D00;
}

/*********************/

.btn, .search_form input[type=submit], .web2py_form input[type=submit]{
  cursor:pointer;display:inline-block;background-color:#e6e6e6;background-repeat:no-repeat;background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));background-image:-webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:-moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);background-image:-ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:-o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);background-image:linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);padding:5px 14px 6px;text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);color:#333;font-size:13px;line-height:normal;border:1px solid #ccc;border-bottom-color:#bbb;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2),0 1px 2px rgba(0, 0, 0, 0.05);-webkit-transition:0.1s linear all;-moz-transition:0.1s linear all;-ms-transition:0.1s linear all;-o-transition:0.1s linear all;transition:0.1s linear all;}
.btn:hover, .search_form input[type=submit]:hover, .web2py_form input[type=submit]:hover{
  background-position:0 -15px;color:#333;text-decoration:none;}
.btn:focus {outline:1px dotted #666;}
.search_form input[type=submit], .web2py_form input[type=submit]{
  height: 30px;
}

.search_form label {
  line-height: 30px;
}

.web2py_form input[type=submit] {
  width: auto;
  height: auto;
  color: white;
  background-color: #0064CD;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064CD #0064CD #003F81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.web2py_form input[type=submit]:hover {
  color: white;
} 
.web2py_form input[type=submit].disabled {
  background: silver;
  cursor: default;
}


.web2py_grid a.btn {
  height: 20px;
  text-decoration: none;
}
.web2py_grid a.btn .ui-button-text{
  line-height: 20px;
}

