{{extend 'layout.html'}}
<a target="_blank" href="https://github.com/scubism/sqlabs"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>

<img src="{{=URL('static', 'images/front.jpg')}}" width=790>

{{for key, info, subsections in sections:}}
<h3>{{=info['label']}}</h3>
<p>{{=info['description']}}</p>
{{for subsection in subsections:}}
<h4>{{=subsection[0]}}</h4>
<div class="examples">
  <ul>
    {{for detail_key, detail in subsection[1]:}}
    <li id="{{=detail_key}}" class="ex_container" style="position:relative;">
    
    {{if detail.get('adopted', False):}}
    <small style="position:absolute;top:-2px;right:5px;color:#D00;">{{=T('Adopted in web2py')}}</small>
    {{pass}}
      <h3>
        {{if detail.get('status') == 'under-construction':}}
          {{=detail['label']}}
        {{else:}}
          <a href="{{=URL(detail_key, 'index')}}">{{=detail['label']}}</a>
        {{pass}}
      </h3>
      {{if detail.get('show_image', True):}}
        <a href="{{=URL(detail_key, 'index')}}">
          <img src="{{=URL('static', 'images/%s.png' % detail_key)}}"/>
        </a>
      {{pass}}
      {{if detail.get('status') == 'under-construction':}}
        <div class="under-construction">{{=T('under construction')}}</div>
      {{else:}}
        <p>{{=detail['short_description']}}</p>
      {{pass}}
    </li>
    {{pass}}
  </ul>
  <div style="clear:both"></div>
</div>
{{pass}}
{{pass}}

<br/>